<!--banner轮播展示-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/banner.png" alt="..."></a>
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/banner.png" alt="..."></a>
      <!--<div class="carousel-caption"></div>-->
    </div>
    <div class="item">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/banner.png" alt="..."></a>
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/banner.png" alt="..."></a>
      <div class="carousel-caption"></div>
    </div>
  </div>
</div>
<!--精品推荐板块-->
<div class="recommend">
  <div class="row">
    <div class="col-md-3"><img src="http://192.168.47.47:1015/body/product/recommend1.png" alt=""></div>
    <div class="col-md-3"><img src="http://192.168.47.47:1015/body/product/recommend2.png" alt=""></div>
    <div class="col-md-3"><img src="http://192.168.47.47:1015/body/product/recommend3.png" alt=""></div>
    <div class="col-md-3"><img src="http://192.168.47.47:1015/body/product/recommend4.png" alt=""></div>
  </div>
</div>
<!--礼拜五Friday-->
<div class="friday">
  <div class="f-head">
    <div class="f-head-l">
      <img src="http://192.168.47.47:1015/body/product/friday1.png" alt="">
      <span class="lf">礼拜五</span>
      <span class="ls">Friday</span>
    </div>
    <div class="f-head-r">
      <span>距离开始</span>
      <img src="http://192.168.47.47:1015/body/product/friday2.png" alt="">
      <a [routerLink]="['/showmore']"><span class="more">更多></span></a>
    </div>
  </div>
  <!--礼拜五Friday的轮播界面-->
  <div class="friday-con">
    <div class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="row item active">
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 con4 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
        </div>
        <div class="row item">
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 con4 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
        </div>
        <div class="row item">
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 con4 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
        </div>
        <div class="row item">
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
          <div class="friday-con1 con4 col-xs-3">
            <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
            <p>新西兰黄金奇异果</p>
            <p>礼拜五价：<span>￥28.80</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="fri">-->
  <!--<div class="f-head">-->
    <!--<div class="f-head-l">-->
      <!--<img src="http://192.168.47.47:1015/body/product/fri1.png" alt="">-->
      <!--<span class="lf">新鲜水果</span>-->
      <!--<span class="ls">采自新疆优质水果生产基地，品质一流</span>-->
    <!--</div>-->
    <!--<div class="f-head-r-1">-->
      <!--<a [routerLink]="['/showmore']"><span class="more">更多></span></a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row" *ngFor="let sp of arr">-->
    <!--<div class="friday-con1 col-xs-3">-->
      <!--<a [routerLink]="['/showmore']"><img src="{{sp.commodityImg}}" alt=""></a>-->
      <!--<p>{{sp.commodityName}}</p>-->
      <!--<p>-->
        <!--<span>￥{{sp.commodityPrice}}</span>-->
        <!--<del>￥{{sp.commodityPrice}}</del>-->
        <!--<a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>-->
      <!--</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--新鲜水果-->
<div class="fri">
  <div class="f-head">
    <div class="f-head-l">
      <img src="http://192.168.47.47:1015/body/product/fri1.png" alt="">
      <span class="lf">新鲜水果</span>
      <span class="ls">采自新疆优质水果生产基地，品质一流</span>
    </div>
    <div class="f-head-r-1">
      <a [routerLink]="['/showmore']"><span class="more">更多></span></a>
    </div>
  </div>
  <div class="row">
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 con4 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
  </div>
</div>
<!--水产海鲜-->
<div class="fri">
  <div class="f-head">
    <div class="f-head-l">
      <img src="http://192.168.47.47:1015/body/product/fri2.png" alt="">
      <span class="lf">水产海鲜</span>
      <span class="ls">国内外新鲜到港的鱼虾蟹贝，我们全都有</span>
    </div>
    <div class="f-head-r-1">
      <!--<span>距离开始</span>-->
      <!--<img src="http://192.168.47.47:1015/body/product/friday2.png" alt="">-->
      <a [routerLink]="['/showmore']"><span class="more">更多></span></a>
    </div>
  </div>
  <div class="row">
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 con4 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
  </div>

</div>
<!--肉类禽蛋-->
<div class="fri">
  <div class="f-head">
    <div class="f-head-l">
      <img src="http://192.168.47.47:1015/body/product/fri3.png" alt="">
      <span class="lf">肉类禽蛋</span>
      <span class="ls">采自新疆优质水果生产基地，品质一流</span>
    </div>
    <div class="f-head-r-1">
      <!--<span>距离开始</span>-->
      <!--<img src="http://192.168.47.47:1015/body/product/friday2.png" alt="">-->
      <a [routerLink]="['/showmore']"><span class="more">更多></span></a>
    </div>
  </div>
  <div class="row">
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 con4 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
  </div>

</div>
<!--蛋奶速食-->
<div class="fri">
  <div class="f-head">
    <div class="f-head-l">
      <img src="http://192.168.47.47:1015/body/product/fri4.png" alt="">
      <span class="lf">蛋奶速食</span>
      <span class="ls">采自新疆优质水果生产基地，品质一流</span>
    </div>
    <div class="f-head-r-1">
      <!--<span>距离开始</span>-->
      <!--<img src="http://192.168.47.47:1015/body/product/friday2.png" alt="">-->
      <a [routerLink]="['/showmore']"><span class="more">更多></span></a>
    </div>
  </div>
  <div class="row">
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
    <div class="friday-con1 con4 col-xs-3">
      <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/f-con1.png" alt=""></a>
      <p>新西兰黄金奇异果</p>
      <p>
        <span>￥28.80</span>
        <del>￥40.00</del>
        <a [routerLink]="['/showmore']"><img src="http://192.168.47.47:1015/body/product/car-yellow.png" alt="" class="carY"></a>
      </p>
    </div>
  </div>

</div>
