<hr style="margin-top:0;">
<div class="f-wrap">
  <div class="footer">
    <div class="items">
      <div class="item"><img src="http://192.168.47.47:1015/footer/security.png" class="security"><p>优先保障</p></div>
      <div class="item"><img src="http://192.168.47.47:1015/footer/monitoring.png" class="security"><p>全程监控</p></div>
      <div class="item"><img src="http://192.168.47.47:1015/footer/select.png" class="security"><p>礼拜五特惠</p></div>
      <div class="item"><img src="http://192.168.47.47:1015/footer/supply.png" class="security"><p>基地直供</p></div>
      <div class="item" style="border: none;"><img src="http://192.168.47.47:1015/footer/onTime.png" class="security"><p>准时送达</p></div>
    </div>
  </div>
</div>
<hr>
<div class="f-wrap">
  <div class="footer">
    <div class="logo">
      <img src="http://192.168.47.47:1015/footer/logo.png" alt="" class="logoPic">
      <p>服务时间:08:00-22:00</p>
      <div class="pp">
        <img src="http://192.168.47.47:1015/footer/fixphone.png" alt="">
        <p>400-800-8820</p>
      </div>
    </div>

    <div class="wc">
      <div class="owc">
        <img src="http://192.168.47.47:1015/footer/weChat.png" alt="">
        <p>礼拜五官方微信</p>
      </div>
      <div class="awc">
        <img src="http://192.168.47.47:1015/footer/weChat.png" alt="">
        <p>礼拜五APP</p>
      </div>
    </div>

    <div class="link">
      <ul>
        <li><a href="###">关于礼拜五</a></li>
        <li><a href="###">新用户注册</a></li>
        <li><a href="###">在线下单</a></li>
        <li><a href="###">支付方式</a></li>
      </ul>
      <ul>
        <li><a href="###">配送说明</a></li>
        <li><a href="###">运费说明</a></li>
        <li><a href="###">配送方式</a></li>
        <li><a href="###">发票说明</a></li>
      </ul>
      <ul>
        <li><a href="###">售后服务</a></li>
        <li><a href="###">退换货说明</a></li>
        <li><a href="###">服务保障承诺</a></li>
        <li><a href="###">验货与签收</a></li>
      </ul>
      <ul>
        <li><a href="###">加盟礼拜五</a></li>
        <li><a href="###">加盟条款</a></li>
        <li><a href="###">公司简介</a></li>
        <li><a href="###">服务协议</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="f-wrap" id="f-footer">
  <ul class="copyright">
    <li>版权所有</li>
    <li>©</li>
    <li>礼拜五</li>
    <li>保留所有权利</li>
    <li>|</li>
    <li>沪ICP备12042163</li>
  </ul>
  <ul class="cr">
    <li>礼拜五</li>
    <li>纵享品质</li>
  </ul>
</div>
