<div class="wrap">
  <div class="top">
    <img src="{{headImg}}" class="headImg">
    <p class="account">您好,</p>
    <p class="myaccount">{{account}}</p>
    <p class="integral">当前积分</p>
    <p class="wallet">我的钱包</p>
    <a class="Recharge" [routerLink]="['/center/mywallet']">充值有礼>></a>
    <p class="integralNum">{{integral}}</p>
    <p class="walletNum">¥{{wallet}}</p>
    <a class="conversion" [routerLink]="">充值卡兑换>></a>
  </div>
  <div class="bottom">
    <div class="box">
    </div>
    <p class="titleOne">新 人 福 利 享 不 停</p>
    <div class="xianO"></div>
    <p class="titleTwo">充 值 有 好 礼</p>
    <div class="xianT"></div>
  </div>
</div>
