<div class="wrap">
  <div class="wrap-title">我的浏览</div>
  <div class="wrap-content">
    <div class="item">
      <img src="http://192.168.47.47:1015/body/order/fruit.png" alt="">
      <p style="margin-left: 10px">水果名字</p>
      <p style="margin-left: 10px">评价</p>
      <div class="box">
        <p class="current-price">现价</p>
        <p class="original-price">原价</p>
        <div class="car"></div>
      </div>
    </div>
    <div class="item">
      <img src="http://192.168.47.47:1015/body/order/fruit.png" alt="">
      <p style="margin-left: 10px">水果名字</p>
      <p style="margin-left: 10px">评价</p>
      <div class="box">
        <p class="current-price">现价</p>
        <p class="original-price">原价</p>
        <div class="car"></div>
      </div>
    </div>
    <div class="item">
      <img src="http://192.168.47.47:1015/body/order/fruit.png" alt="">
      <p style="margin-left: 10px">水果名字</p>
      <p style="margin-left: 10px">评价</p>
      <div class="box">
        <p class="current-price">现价</p>
        <p class="original-price">原价</p>
        <div class="car"></div>
      </div>
    </div>
    <div class="item">
      <img src="http://192.168.47.47:1015/body/order/fruit.png" alt="">
      <p style="margin-left: 10px">水果名字</p>
      <p style="margin-left: 10px">评价</p>
      <div class="box">
        <p class="current-price">现价</p>
        <p class="original-price">原价</p>
        <div class="car"></div>
      </div>
    </div>
    <div class="item">
      <img src="http://192.168.47.47:1015/body/order/fruit.png" alt="">
      <p style="margin-left: 10px">水果名字</p>
      <p style="margin-left: 10px">评价</p>
      <div class="box">
        <p class="current-price">现价</p>
        <p class="original-price">原价</p>
        <div class="car"></div>
      </div>
    </div>
    <div class="item">
      <img src="http://192.168.47.47:1015/body/order/fruit.png" alt="">
      <p style="margin-left: 10px">水果名字</p>
      <p style="margin-left: 10px">评价</p>
      <div class="box">
        <p class="current-price">现价</p>
        <p class="original-price">原价</p>
        <div class="car"></div>
      </div>
    </div>
  </div>
</div>
