<section class="order">
  <div class="title-2">
    <span>收货人信息</span>
    <button class="new">使用新地址</button>
  </div>
  <div class="address">
    <ul class="address-info">
      <li class="adds"><input type="radio" name="ww" value="yd" /><span class="yd">但小兵 北京 北京市 昌平区 天通苑明天第一城4号楼101 固定电话010 21541589 </span><span style="color:#b4b8b3">默认地址</span></li>
      <li><a href="" class="sz">设置为默认地址</a></li>
      <li><a href="">修改</a></li>
      <li><a href="">删除</a></li>
    </ul>
    <ul class="address-info">
      <li class="adds"><input type="radio" name="ww" value="yd" /><span class="yd">但小兵 北京 北京市 昌平区 天通苑明天第一城4号楼101 固定电话010 21541589 </span><span style="color:#b4b8b3">默认地址</span></li>
      <li><a href="" class="sz">设置为默认地址</a></li>
      <li><a href="">修改</a></li>
      <li><a href="">删除</a></li>
    </ul>
    <ul class="select">
      <li><a href="">展开其他地址 <img src="http://192.168.47.47:1015/body/order/zk.png" alt=""/></a></li>
      <li><a href="">收起地址<img src="http://192.168.47.47:1015/body/order/sq.png" alt=""/></a></li>
    </ul>
  </div>
  <div class="info">
    <ul class="title-2"><li>商品信息</li></ul>
    <ul class="border">
      <li class="store"><input name="check" type="checkbox"><span>爱果果水果店</span></li>
      <li>规格</li>
      <li>单价</li>
      <li class="num">数量</li>
      <li>金额</li>
      <li>操作</li>
    </ul>
    <ul class="border-content">
      <li class="sp"><input type="checkbox" name="check"/><img src="http://192.168.47.47:1015/body/order/lz.png" /><span>云南蒙自石榴8个装</span></li>
      <li>8个装</li>
      <li>$588</li>
      <li class="sl">
        <button class="jian"></button>
        <div class="count">1</div>
        <button class="jia"></button>
      </li>
      <li>$2000</li>
      <li><a href="">删除</a></li>
    </ul>
    <ul class="mon">
        <li>运费:<span>$200</span></li>
      <li>商品金额:<span>$200</span></li>
      <li>商家合计:<span>$200</span></li>
    </ul>
  </div>
  <div class="fp">
    <ul class="title-2">
      <li>开票信息</li>
    </ul>
    <ul class="inp">
      <li>
        <input type="radio" name="kp"/><span>不需要</span>
        <input type="radio" name="kp"/><span>个人</span>
        <input type="radio" name="kp"/><span>单位</span>
      </li>
      <li>
        发票抬头 :
        <input type="text" maxlength="45" size="45" style="height: 30px"/>
        <span><a href="" style="color: tomato;">*</a>请填写后认真核对发票信息</span>
      </li>
    </ul>
    <ul class="title-2">
      <li>添加订单备注</li>
    </ul>
    <ul>
      <li><input type="text" maxlength="45" size="90"  placeholder="限45个字,请填写有关商品,致富,发票信等息" style="height: 30px"/></li>
    </ul>
    <ul class="title-2">
      <li style="color:rgb(73, 142, 61)">次日达·礼拜五专享</li>
    </ul>
    <ul class="sj">
      <li>选择送达时间:</li>
      <li><span>2016年9月18日12:00~3:00</span></li>
      <li><a href="###">点击修改</a></li>
    </ul>
    <div class="tab">
      <table border="1" cellspacing="0">
        <tr>
          <td><a> 10:00 13:00</a></td>
          <td><a> 11:00 14:00</a></td>
          <td><a> 12:00 15:00</a></td>
          <td><a> 13:00 16:00</a></td>
          <td><a> 14:00 17:00</a></td>
        </tr>
        <tr>
          <td><a> 15:00 18:00</a></td>
          <td><a> 16:00 19:00</a></td>
          <td><a> 17:00 20:00</a></td>
          <td><a> 18:00 21:00</a></td>
          <td><a> 19:00 22:00</a></td>
        </tr>
      </table>
      <ul class="btn">
        <li style="padding-right: 20px"><button style="background-color: rgb(153, 153, 153)">取消</button></li>
        <li style="padding-left: 20px"><button>确定</button></li>
      </ul>
    </div>
    <ul class="end" style="margin-top: 20px;"><li>实付金额:<span>$2997</span></li></ul>
    <ul class="end"><li style="color: #333333">订单完成后可获得积分:<span style="color:#f08200!important; font-size: 14px!important;">300积分</span></li></ul>
    <ul class="end"><li><button [routerLink]="['/oresult']">提交订单</button></li></ul>
  </div>
</section>
