<div class="wrap">
  <div class="address">
    <p>您的当前位置：<span><a href="#">首页</a></span> > <span><a href="#">礼拜五商城</a></span> > <span><a href="#">新用户注册</a></span></p>
  </div>
  <div class="con-l">
    <p>礼拜五商城</p>
    <p><a href="#">关于礼拜五</a>></p>
    <p><a href="#">新用户注册</a></p>
    <p><a href="#">在线下单</a></p>
    <p><a href="#">支付方式</a></p>
    <p><a href="#">配送说明</a>></p>
    <p><a href="#">运费说明</a></p>
    <p><a href="#">配送方式</a></p>
    <p><a href="#">发票说明</a></p>
    <p><a href="#">售后服务</a>></p>
    <p><a href="#">退换货原则</a></p>
    <p><a href="#">服务保障承诺</a></p>
    <p><a href="#">验货与签收</a></p>
    <p><a href="#">发票说明</a></p>
    <p><a href="#">加盟礼拜五</a>></p>
    <p><a href="#">加盟条款</a></p>
    <p><a href="#">公司简介</a></p>
    <p><a [routerLink]="['/youxian']">服务协议</a></p>

  </div>
  <div class="con-r">
    <p>关于我们</p>
    <div class="content">
      <p>新用户注册</p>
      <p><span>分类：关于礼拜五</span><span>日期：2015年9月21日</span></p>
      <p>我们的梦想是为全国 14 亿人民都能享用到安全和高品质的新鲜食材。是美国，澳大利亚，新西兰，以色列和西班牙领事馆农业部和商务部的指定食材合作推广伙伴，有美国 Sunkist，新西兰 Zespri，澳大利亚 MFC，以色列 Jaffa等合作品牌。每年从全球五大洲和二十多个国家进口和销售超过 1000 个集装柜的水果和食品。同时，还致力于发展国内高品质的食材，我们和全国各地优质农场建立直联合作，并为此开发了和建立了完善的水果身份认证和溯源系统，确保食材的信息透明和安全。</p>
      <img src="http://192.168.47.47:1015/body/about/aboutfriday1.png" alt="">
      <p class="p4">我们的梦想是为全国 14 亿人民都能享用到安全和高品质的新鲜食材。是美国，澳大利亚，新西兰，以色列和西班牙领事馆农业部和商务部的指定食材合作推广伙伴，有美国 Sunkist，新西兰 Zespri，澳大利亚 MFC，以色列 Jaffa等合作品牌。每年从全球五大洲和二十多个国家进口和销售超过 1000 个集装柜的水果和食品。同时，还致力于发展国内高品质的食材，我们和全国各地优质农场建立直联合作，并为此开发了和建立了完善的水果身份认证和溯源系统，确保食材的信息透明和安全。</p>
      <img src="http://192.168.47.47:1015/body/about/aboutfriday2.png" alt="">
      <p>我们的梦想是为全国 14 亿人民都能享用到安全和高品质的新鲜食材。是美国，澳大利亚，新西兰，以色列和西班牙领事馆农业部和商务部的指定食材合作推广伙伴，有美国 Sunkist，新西兰 Zespri，澳大利亚 MFC，以色列 Jaffa等合作品牌。每年从全球五大洲和二十多个国家进口和销售超过 1000 个集装柜的水果和食品。同时，还致力于发展国内高品质的食材，我们和全国各地优质农场建立直联合作，并为此开发了和建立了完善的水果身份认证和溯源系统，确保食材的信息透明和安全。</p>
    </div>
  </div>
</div>
